<template>
  <section class="section detail">
    <div class="container">
      <div class="columns is-mobile is-multiline">
        <div class="column is-half-mobile is-one-quarter-tablet">
          <img :src="movie.Poster !== 'N/A' ? movie.Poster : 'https://seeba.se/wp-content/themes/consultix/images/no-image-found-360x260.png'" alt="">
        </div>
        <div class="column is-half-mobile is-three-quarter-tablet">
          <h1 class="title">{{ movie.Title }}</h1>
          <div class="columns is-mobile is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title has-text-danger">
                    Year:
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" v-text="movie.Year !== 'N/A' ? movie.Year : 'Unknown'"></div>
                </div>
              </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title has-text-danger">
                    Runtime:
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" v-text="movie.Runtime !== 'N/A' ? movie.Runtime : 'Unknown'">
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title has-text-danger">
                    Director:
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" v-text="movie.Director !== 'N/A' ? movie.Director : 'Unknown'"></div>
                </div>
              </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-half-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title has-text-danger">
                    Actors:
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" v-text="movie.Actors !== 'N/A' ? movie.Actors : 'Unknown'"></div>
                </div>
              </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-half-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title has-text-danger">
                    Awards:
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" v-text="movie.Awards !== 'N/A' ? movie.Awards : 'Unknown'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "Detail",
  data() {
    return {
      movie: {}
    }
  },
  beforeMount() {
    axios.get(`http://www.omdbapi.com/?i=${this.$route.params.id}&apikey=7df47c9a`)
        .then(response => {
          this.movie = response.data;
          this.$forceUpdate();
        })
  }
}
</script>

<style scoped>

</style>