<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">
          All Movies About <span class="has-text-danger">{{ searchTerm }}</span>
        </h1>
        <div v-if="movies.length > 0" class="field">
          <div class="columns is-mobile is-multiline">
            <div
              v-for="(movie, index) in movies"
              :key="index"
              class="column is-half-mobile is-one-quarter-tablet"
            >
              <router-link :to="'/detail/' + movie.imdbID">
                <movie-card :movie="movie"></movie-card>
              </router-link>
            </div>
          </div>
        </div>
        <div class="field" v-else>
          <h1 class="has-text-centered not-found">
            Sorry... We could not found any movie
          </h1>
        </div>
        <div class="field">
          <pagination
            :currentPage="currentPage"
            :totalPage="totalPage"
            :pages="pages"
            @goToPage="goToPage"
          ></pagination>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
import movieCard from "@/components/movieCard";
import pagination from "@/components/pagination";

export default {
  name: "Home",
  components: {
    movieCard: movieCard,
    pagination: pagination
  },
  data() {
    return {
      pages: [],
      totalPage: 0,
      movies: [],
      currentPage: 1,
      movieCard: movieCard
    };
  },
  props: {
    searching: {
      type: Boolean,
      default: false
    },
    searchQuery: {
      type: String,
      default: ""
    }
  },
  beforeMount() {
    const randomWords = [
      "future",
      "inception",
      "black",
      "white",
      "problem",
      "heart",
      "pink",
      "ocean",
      "blue",
      "pirate",
      "break"
    ];
    let word = randomWords[Math.floor(Math.random() * 10)];
    this.searchTerm = word;
    this.callMovies(true, word);
  },
  watch: {
    searching: function() {
      this.searchTerm = this.searchQuery;
      this.callMovies(true);
    }
  },
  methods: {
    goToPage(e) {
      this.currentPage = e;
      this.callMovies(false);
    },
    callMovies(paginate) {
      let startPage = 2 * this.currentPage - 1;
      let finishPage = 2 * this.currentPage;
      axios
        .get(
          `http://www.omdbapi.com/?page=${startPage}&t=movie&s=${this.searchTerm}&apikey=7df47c9a`
        )
        .then(response => {
          if (response.data.Response === "True") {
            this.movies = [];
            response.data.Search.forEach(item => {
              if (item.Poster === "N/A") {
                item.Poster =
                  "https://seeba.se/wp-content/themes/consultix/images/no-image-found-360x260.png";
              }
              this.movies.push(item);
            });
            axios
              .get(
                `http://www.omdbapi.com/?page=${finishPage}&t=movie&s=${this.searchTerm}&apikey=7df47c9a`
              )
              .then(response2 => {
                if (response2.data.Response === "True") {
                  response2.data.Search.forEach(item => {
                    if (item.Poster === "N/A") {
                      item.Poster =
                        "https://seeba.se/wp-content/themes/consultix/images/no-image-found-360x260.png";
                    }
                    this.movies.push(item);
                  });
                  this.totalPage = Math.ceil(response2.data.totalResults / 20);
                  if (paginate) {
                    this.pages = [];
                    for (let index = 1; index <= this.totalPage; index++) {
                      this.pages.push(index);
                    }
                  }
                }
                this.$emit("searchComplete", true);
              })
              .catch(error => {
                console.log(error);
              });
          } else {
            this.pages = [];
            this.totalPage = 0;
            this.$emit("searchComplete", true);
          }
        })
        .catch(error => {
          this.movies = [];
          console.log(error);
        });
    }
  }
};
</script>
