<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <div class="has-text-white">
        <strong class="has-text-white">Movie<span class="has-text-danger">Lime</span></strong> by <a
          href="https://gitlab.com/alitokmakci034/movielime" class="has-text-danger" target="_blank">Ali Tokmakcı</a>
        The source code is licensed for free to use.
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footerComp"
}
</script>

<style scoped>

</style>