<template>
  <div class="card movie">
    <div class="card-image">
      <figure class="image is-4by3">
        <img :src="movie.Poster" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="has-text-danger">{{ movie.Title }}</p>
        </div>
      </div>
      <div class="content">
        <span>Release Year: {{ movie.Year }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "movieCard",
  props: {
    movie: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>