<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Movie <span class="has-text-danger">Lime</span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" @click="activateSearch">
                <icon :icon="['fas', 'search']"></icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <a class="button is-danger search-button-mobile" @click="activateSearch">
          <icon :icon="['fas', 'search']"></icon>
        </a>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {
      isMenuActive: false,
      isSearchBarActive: false,
    }
  },
  methods: {
    activateMenu() {
      this.isMenuActive = !this.isMenuActive;
    },
    activateSearch() {
      this.isSearchBarActive = !this.isSearchBarActive;
      this.$emit('activateSearchBar', this.isSearchBarActive);
    }
  }
}
</script>

<style scoped>

</style>