<template>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" @click="goToPage(currentPage-1)"  v-if="currentPage !== 1 && totalPage !== 0">Previous Page</a>
    <a class="pagination-next" @click="goToPage(currentPage+1)"  v-if="currentPage !== totalPage && totalPage !== 0">Next Page</a>
    <ul class="pagination-list" v-show="totalPage <= 6">
      <li v-for="(page, index) in pages" :key="index">
        <a class="pagination-link" @click="goToPage(page)" v-bind:class="currentPage == page ? 'is-current' : ''">{{page}}</a>
      </li>
    </ul>
    <ul class="pagination-list" v-show="totalPage > 6">
      <li><a class="pagination-link" @click="goToPage(1)" v-bind:class="currentPage == 1 ? 'is-current' : ''">1</a></li>
      <li v-show="currentPage >= 4"><span class="pagination-ellipsis">&hellip;</span></li>
      <li v-show="currentPage < 4"><a class="pagination-link" @click="goToPage(2)" v-bind:class="currentPage == 2 ? 'is-current' : ''">2</a></li>
      <li v-show="currentPage < 4"><a class="pagination-link" @click="goToPage(3)" v-bind:class="currentPage == 3 ? 'is-current' : ''">3</a></li>
      <li v-show="currentPage === 3"><a class="pagination-link" @click="goToPage(4)">4</a></li>
      <li v-show="currentPage >= 4 && currentPage + 2 < totalPage"><a @click="goToPage(currentPage - 1)" class="pagination-link">{{currentPage - 1}}</a></li>
      <li v-show="currentPage >= 4 && currentPage + 2 < totalPage"><a class="pagination-link is-current">{{currentPage}}</a></li>
      <li v-show="currentPage >= 4 && currentPage + 2 < totalPage"><a @click="goToPage(currentPage + 1)" class="pagination-link">{{currentPage + 1}}</a></li>
      <li v-show="currentPage + 2 < totalPage"><span class="pagination-ellipsis">&hellip;</span></li>
      <li v-show="currentPage === totalPage - 2"><a class="pagination-link" @click="goToPage(totalPage - 3)">{{ totalPage - 3 }}</a></li>
      <li v-show="currentPage + 2 >= totalPage"><a class="pagination-link" v-bind:class="currentPage == totalPage - 2 ? 'is-current' : ''" @click="goToPage(totalPage-2)">{{totalPage-2}}</a></li>
      <li v-show="currentPage + 2 >= totalPage"><a class="pagination-link" v-bind:class="currentPage == totalPage - 1 ? 'is-current' : ''" @click="goToPage(totalPage-1)">{{totalPage-1}}</a></li>
      <li><a class="pagination-link" @click="goToPage(totalPage)" v-bind:class="currentPage == totalPage ? 'is-current' : ''">{{totalPage}}</a></li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "pagination",
  props: {
    currentPage: {
      type: Number,
      default: 1
    },
    totalPage: {
      type: Number
    },
    pages: {
      type: Array
    }
  },
  methods: {
    goToPage(e){
      this.$emit('goToPage', e);
    }
  }
}
</script>

<style scoped>

</style>