<template>
  <div class="searchbar" v-bind:class="isActive ? 'active' : ''">
    <div class="container">
      <div class="field has-addons" v-bind:class="isActive ? 'active' : ''">
        <div class="control search">
          <input
            type="text"
            class="input"
            @input="isTyping = true"
            placeholder="Find a movie for you and your friends"
            v-model="searchTerm"
            ref="searchInput"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "searchbar",
  data() {
    return {
      searchTerm: "",
      isTyping: false
    };
  },
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    searchTerm: _.debounce(function() {
      this.isTyping = false;
      if (this.$route.path !== "/") {
        this.$router.push("/");
      }
      this.search();
    }, 300),
    isActive: function () {
      if(this.isActive) {
        this.$refs.searchInput.focus();
      }
    }
  },
  methods: {
    search() {
      if (this.searchTerm !== "") {
        this.$emit("activateSearch", this.searchTerm);
      }
    }
  }
};
</script>

<style scoped></style>
