.detail {
  .card {
    background-color: $black-gray;
    border: 0;

    .card-header {
      border-bottom: 1px solid $danger;
    }

    .card-content {

     .content {
       color: rgba(255,255,255,0.6);
       font-size: 12px;
     }
    }
  }
}