@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma";
$black-gray: #2b2b31;
@import "navbar";
@import "searchbar";
@import "moviecard";
@import "detail";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $black-gray;
  min-height: 100vh;
}

.section {
  .title, p {
    color: #efefef;
  }

  .not-found {
    color: rgba(255,255,255,0.7);
  }
}

.pagination {
  a {
    background-color: $danger;
    border-color: transparent;
    font-size: 15px;
    transition: transform .5s ;

    &:hover {
      border-color: transparent;
      transform: scale(1.1);
      color: #efefef;
    }

    &.is-current {
      background-color: $danger;
      border-color: transparent;
      color: #efefef;
      font-weight: bolder;
    }
  }
}

.footer {
  background-color: $black-gray;
  padding-bottom: 1rem;
  border-top: 2px solid $danger;
}