.card.movie {
  height: 100%;
  transition: transform .3s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .card-content {
    p {
      font-size: 12px;
    }

    .content {
      position: absolute;
      bottom: 10px;
      left: 1.5rem;

      span {
        font-size: 10px;
      }
    }
  }
}