@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/functions";

.navbar {
  background-color: $black-gray;

  .navbar-brand {
    font-size: 30px;
  }

  .navbar-item {
    color: rgba(255,255,255,0.75);
  }

  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: unset;
    color: $danger;
  }

  .search-button-mobile {
    position: absolute;
    top: -50px;
    right: 10px;
  }
}