.searchbar {
  background-color: $black-gray;
  transition: all .5s ease-in-out;
  height: 0;

  &.active {
    height: 70px;
    border-top: 1px solid rgba(255,255,255,0.4);
  }

  .field {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all .5s ease-in-out;

    @include until($desktop) {
      padding: 0 10px 15px 10px;
    }
    @include from($desktop) {
      padding: 0 0 15px 0;
    }

    &.active {
      bottom: -70px;
    }

    .search {
      width: 100%;

      .input {
        background-color: $black-gray;
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        color: rgba(255,255,255,0.75);

        &::placeholder {
          color: rgba(255,255,255,0.75);
        }

        &:focus {
          box-shadow: unset;
        }
      }
    }
  }
}