<template>
  <div id="app">
    <navbar @activateSearchBar="activateSearchBar"></navbar>
    <searchbar
      v-bind:is-active="isSearchBarActive"
      @activateSearch="activateSearch"
    ></searchbar>
    <router-view @searchComplete="searching = false" :searching="searching" :searchQuery="searchTerm" />
    <footer-comp></footer-comp>
  </div>
</template>

<script>
import navbar from "@/components/navbar";
import searchbar from "@/components/searchbar";
import footerComp from "@/components/footerComp";

export default {
  name: "App",
  data() {
    return {
      isSearchBarActive: false,
      searching: false,
      searchTerm: ""
    };
  },
  components: {
    navbar: navbar,
    searchbar: searchbar,
    footerComp: footerComp
  },
  methods: {
    activateSearchBar(e) {
      this.isSearchBarActive = e;
    },
    activateSearch(e) {
      this.searchTerm = e;
      this.searching = true;
    }
  }
};
</script>
